/* Style de général */
body, h1, h2, p, section, header, footer, main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #87CEEB, #f0f8ff);
}

header {
  background-color: #4682B4;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.2rem;
  margin-top: 0;
}

main {
  padding: 2rem;
}

.infos {
  display: flex;
  box-shadow: none;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #4682B4;
  color: white;
  font-size: 0.9rem;
  margin-top: 2rem;
  border-top: 3px solid #315b85;
}

/* Style pour la météo */
#meteo {
  background: linear-gradient(to bottom, #a8e6cf, #dcedc1);
  border : 1px solid whitesmoke;
  border-radius: 20px;
  width: 80%;
  padding: 2em;
  margin-right: 10px;
}

#meteo h2 {
  font-size: 1.8rem;
  color: #2e7d32;
  text-align: center;
  margin-bottom: 1.3em;
}

#meteo-data {
  display: flex;
  justify-content: space-around;
}

.periode { 
  padding-left: 2em;
  padding-right: 2em;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
}

.periode h2 {
  margin : 0;
  color: #2e7d32;    
}

.symbol {
  font-size: 2rem;
}

.temperature {
  font-size: 1.5rem;
  color:#2e7d32;
}

/* Style pour la qualité de l'air */
#air {
  width: 20%;
  background-color: #6bace2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color : whitesmoke;
  border : 1px solid whitesmoke;
  border-radius: 20px;
  margin-left: 10px;
}

#air h2 {
  font-size: 1.8em;      
}

#air p {
  font-size: 1.4em;
  margin-top: 0.9em;    
}

#rond {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  margin: 0 auto;
  margin-top: 1em;
}

/* Style pour les vélos */
.velos {
  text-align: center;
  background-color: whitesmoke;
  margin-top: 2em;
  padding: 2em;
  border-radius: 20px;
}

#map {
  height: 450px;
  border-radius: 10px;
  margin-top: 2em;
  margin-left: 4em;
  margin-right: 4em;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les graphiques */
.covid {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: whitesmoke;
  margin-top: 2em;
  padding: 2em;
  border-radius: 20px;
}

.covid h2 {
  margin-bottom: 1em;
}

.canvas {
  display: flex;
}

.hospChart, .reaChart {
  width: 50%;
  height : 400px;
  margin-right: 10px;
}

/* Style pour les informations sur le SARS-CoV-2 */
.sars {
  text-align: center;
  background-color: whitesmoke;
  margin-top: 2em;
  padding: 2em;
  border-radius: 20px;
}

.sars h2 {
  margin-bottom: 0.3em;
}

#sars {
  margin-top: 0.8em;
}

@media screen and (max-width: 1400px) {
  .infos {
      flex-direction: column;
  }

  #meteo {
      margin: auto;
  }

  #air {
      width: 100%;
      margin: auto;
      margin-top: 1em;
      padding-top: 3em;
      padding-bottom: 3em;
  }

  .velos {
      margin: auto;
      margin-top: 1em;   
  }

  .hospChart, .reaChart {
    height : 300px;
  }
}

@media screen and (max-width: 1000px) {

  #meteo {
      height: auto;
  }
  
  #meteo-data {
      display: flex;
      flex-wrap: wrap;
  }
  
  .periode {
      flex: 0 1 calc(50% - 1em);
      padding: 0;
      margin-bottom: 1.5em;
  }
  .hospChart, .reaChart {
    height : 200px;
  } 

}
  